<nav class="navbar" [class.navbar-scrolled]="isScrolled">
  <div class="navbar-container">
    <a class="navbar-brand" routerLink="/">ShopForHome</a>

    <ul class="nav-links">
      <li><a routerLink="/products">Products</a></li>

      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ng-container>

      <ng-container *ngIf="(isLoggedIn$ | async)">

        <li *ngIf="(userRole$ | async) === 'Admin'">
          <a routerLink="/admin">Admin Panel</a>
        </li>

        <li><a (click)="openWishlist()" style="cursor: pointer;">Wishlist</a></li>

        <li>
          <a (click)="openCartPanel()" style="cursor: pointer;">
            Cart <span *ngIf="(cartItemCount$ | async)! > 0" class="cart-badge">{{ cartItemCount() }}</span>
          </a>
        </li>

        <li *ngIf="(username$ | async) as username" class="greeting-text">
          {{ greeting }}, {{ username }}
        </li>

        <li>
          <a (click)="logout()" class="logout-link">Logout</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>